.mentorsLi {
    padding: 10px;
    color: brown;
}

.name {
    font-weight: bold;
}

.email {
    color: blue;
}

.availability {
    font-style: italic;
    color: blueviolet;
}
.mentor-image{
    max-width: 250px;
    max-height: 250px;
    overflow: hidden;
    border-radius: 100%;
    display: inline-block;
}
/* @media (min-width: 600px) .mentor-image{
     height: 33vw;
    width: 33vw; 

} */