@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* FONT IMPORTS */



.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}


/* VARIABLES */

:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}


/* GENERAL */

* {
  box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    color: var(--text-color);
    background: var(--bg-color);
    position: relative;
}

header {
  display: block;
  width: 100%;
  padding: 0.75em 0;
  border-bottom: 2px solid #c05558;
  background: #fafafa;
}

footer {
  display: block;
  width: 100%;
  padding: 0.75em 0;
  border-top: 2px solid #c05558;
  background: #fafafa;
}

header #logo {
  font-size: 175%;
  text-align: center;
  color: var(--main-color);
  line-height: 1;
}

header #logo .icon {
  padding-right: .25em;
}

main {
  display: block;
  margin: 4em 4em;
}


/* GRID */

.calender-row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}


/* Calendar */

.calendar {
  display: block;
  position: relative;
  width: 100%;
  background: var(--neutral-color);
  border: 2px solid var(--border-color);
}

.calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .header .icon {
  cursor: pointer;
  transition: .15s ease-out;
}

.calendar .header .icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--text-color-light);
  font-size: 70%;
  padding: .75em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .cell {
  position: relative;
  height: 5em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

.calendar .body .cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

.calendar .body .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%);
  border-image-slice: 1;
}

.calendar .body .calender-row {
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .calender-row:last-child {
  border-bottom: none;
}

.calendar .body .cell:last-child {
  border-right: none;
}

.calendar .body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 700;
}

.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -.2em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em;
}

.calendar .body .cell:hover .bg, .calendar .body .selected .bg  {
  opacity: 0.05;
  transition: .5s ease-in;
}

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}
.nav-item{
  margin-left : 3%;
  margin-right: 10%;
}
.calendar .body .cell .event-one {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  bottom: .50em;
  right: .75em;
  font-weight: 700;
  background:rgb(126, 186, 232);
  width: 80%;
  color:white;
 }
 .calendar .body .cell .event-two {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  bottom: 1.8em;
  right: .75em;
  font-weight: 700;
  background:rgb(77, 121, 175);
  width: 80%;
  color:white;
 }
 .card{
   margin-bottom: 10px;
 }
 .card:hover{
  transition: 0.8s; 
  box-shadow: 0 21px 23.2px 5.8px rgba(72,80,87,.13);
  -webkit-box-shadow: 0 21px 23.2px 5.8px rgba(72,80,87,.13);
  -moz-box-shadow: 0 21px 23.2px 5.8px rgba(72,80,87,.13); 
}  
 .dead-line{
   float: right;
 }
 .card-header{
  background-color: #f1e2e240;
 }
 .card-title{
  font-size: 1.5rem;

 }
.card-as-link,
.card-as-link:hover, 
.networking-item,
.networking-item:hover {
   text-decoration: none;
}
.home-page{
  min-height: 60vh;
  
}
.home-page .jumbo-image{
  background-color: #b3b1b3bd; 
  background-image: url('./components/home/thread-event-lecture.jpg');
  min-height: 60vh;
}
.home-page img{
  width:100%;
}
.internship-image, .networking-image{
  height: 10vw;
  /* width: 100%; */
  max-width: 350px;
  float: left;
}
.card-footer{
  background-color: rgba(231, 222, 222, 0.14);
}
.network-edit-button, .events-btn{
  float: right;
}
.events-btn{
  margin-bottom: 1em;
}
/* .calender-container{
  height: 100vh;
  background: #222;
} */

.list-group{
  height: 95vh;
    overflow-y: scroll;
    padding: 5px;
    /* border: 1px solid rgba(156, 154, 154, 0.404); */
}
.add-event-btn{
  margin-bottom : 2em;
}
.card{
  font-size: 0.9em;
}
.btn{
  margin: 0.3em;
}
main{
  margin:0em;
}
.search-bar{
  margin: 0 140px;
  padding: 15px;
  margin-bottom: 20px;

}
#inputGroupSelect02{
  /* padding: 15px; */
 /*  margin-top: 5px; */
}

.container-height{
  min-height: 50vh;
  margin-top: 5%;
}

/*
    Login CSS
*/

.form-signin {
  width: 100%;
  max-width: 500px;
  padding: 50px;
  margin: 0 auto;
  background: rgba(158, 158, 158, 0.06);
  border: 1px solid;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*
  Make image non-responsive
*/

.img-non-responsive {
  width: auto;
}

.container-height{
  min-height: 50vh;
  margin-top: 5%;
}
.hr-style1{
	height: 10px;
	border: 0;
  box-shadow: 0 10px 10px -10px #bf5258 inset;
}
.hr-style2{
  width: 85%;
  border: 0; 
  height: 2px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #bf5258, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #bf5258, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #bf5258, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #bf5258, #f0f0f0);  
}


.star-dark{
  color: #2C3E50;

  max-width: 15rem;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid 0.25rem;
    margin-top: 1.1rem;
}
hr.star-dark:after {
  color: #2C3E50;
  background-color: white;
}
hr.star-light:after, hr.star-dark:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f005';
  font-family: FontAwesome;
  font-size: 2em;
}
.text-secondary {
  color: #bf5258 !important;
}
.btn{
  color:#bf5258;
}
.event-btn{
  color:white;
}
body{
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  background: #fff url('./body-back.png') repeat;
}
header{
  background-color: #ffffff;
}
footer{
  background-color: #222;
  color:white;
}
.hr-style3{
 background-color: #f0f0f0; 
 margin: 3px 0px 15px 0px;
 padding: 0px;
 border-top: 0px;
 border-bottom: 1px solid #eee;
 height: 0px;
}
.form-container{
  padding: 5px 10px;
    background: #eee url('./header-back.png') repeat;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: inset 0px 0px 3px #eee;
}
.form-submit {
  width: 70%;
  margin: 40px auto;
  background: #fff;
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px #aaa;
}
.form-h2{
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  color: #666;
  margin: 3px 0px;
  padding: 3px 0px;
}
.search-form{
  background: #fff;
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px #aaa;

}

/*
  Mobile CSS
*/

@media only screen and (max-width: 767px) {
  .img-non-responsive {
    width: 100%;
    height: auto;
  }
  .btn-large-mobile {
    width: 100%;
  }
}  
